
.vs/ItemControl/DesignTimeBuild/.dtbcache
.vs/ItemControl/DesignTimeBuild/.dtbcache
.vs/ItemControl/DesignTimeBuild/.dtbcache
.vs/ItemControl/v16/.suo
.vs/ItemControl/v16/Server/sqlite3/storage.ide
.vs/ItemControl/v16/Server/sqlite3/storage.ide-shm
.vs/ItemControl/v16/Server/sqlite3/storage.ide
.vs/ItemControl/v16/Server/sqlite3/storage.ide-wal
bin/Debug/net45/Terraria.exe
bin/Debug/net45/Terraria.pdb
bin/Debug/net45/Terraria.xml
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/ItemControl.pdb
bin/Debug/net45/ItemControl.dll
.vs/ItemControl/v16/Server/sqlite3/storage.ide
obj/Debug/net45/ItemControl.csproj.CoreCompileInputs.cache
obj/Debug/net45/ItemControl.csprojAssemblyReference.cache
obj/Debug/net45/ItemControl.dll
obj/Debug/net45/ItemControl.pdb
.vs/ItemControl/DesignTimeBuild/.dtbcache.v2
.vs/ItemControl/v16/.suo
bin/Debug/net45/tModLoader.exe
obj/Debug/net45/ItemControl.csprojAssemblyReference.cache
